node_modules
.env
.cache
.DS_Store

# CDK asset staging directory
.cdk.staging

# Build Files
dist

# Test results
**/test/results

.vscode
.idea

# cdk.context.json
cdk.out/
outputs.json

cdk.context.json
